$Mobile:"(min-width:280px) and (max-width:319px)";
$max_mobile:"(min-width:320px) and (max-width:359px)";

$special:"(min-width:360px) and (max-width:400px)";
$iphone:"(min-width:411px) and (max-width:539px)";


$tablet:"(min-width:540px) and (max-width:767px)";


$max_tablet:"(min-width:768px) and (max-width:1023px)";
$screen:"(min-width:1024px) and (max-width:1164px)";
$screen2:"(min-width:1070px) and (max-width:1164px)";


$lap:"(min-width:1165px) and (max-width:1450px)";
$lap2:"(min-width:1250px) and (max-width:1349px)";
$lap3:"(min-width:1350px) and (max-width:1450px)";







    // @media #{$Mobile}{
    // }
    // @media #{$max_mobile}{
    // }
    // @media #{$special}{
    // }
    // @media #{$iphone}{
    // }
    // @media #{$tablet}{
    // }
    // @media #{$max_tablet}{
    // }
    // @media #{$screen}{
    // }