@import '../../../Scss/variables/allvar';
@import '../../../Scss/helpers/mixins';
@import '../../../Scss/helpers/media.scss';


.line{
    @include font_footer();
    display: flex;
    background-color: $footer;
    height: 3.5rem;
    font-size: smaller;
    width: 100%;
    &__rit{
        margin-left: 16rem;
        margin-top: 1rem;
    }
    &__lef{
        margin-left: 42rem;
        margin-top: 1rem;

    }
}


