// color
$light:#929292;
$primary-color:#ececec;
$dark:#3f3f3f;
$danger-color:#363636;
$blue:#0a83c0;
$success-color:#ffffff;
$three-color:#0000ff;
$carsoul:rgba(0, 0, 0, 0.651);
$line:#92929247;
$header:#363636b8;

$footer:#191919;

$footer-line:#0a83c0;



