
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

$font-family: 'Noto Sans JP', sans-serif;
$font-header:cursive;
$font-navbar:fantasy;
$font-footer:ui-rounded;
$font-program:emoji;

.xx-large {
    font-size: 4rem;
}
.x-large {
    font-size: 2rem;
    margin-left: 2rem;
}
.large{
    font-size:large;
    margin-top: 1rem;
}
.Smail{
    font-size: 1.50rem;
}
.little{
    font-size: 0.7rem;
    }
    .x-litter{
        font-size: small;
    }

